<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="org.noiseplanet.noisemodelling.wps.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="notexists"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.noiseplanet.noisemodelling.wps.WpsPreferences"
            id="org.noiseplanet.noisemodelling.wps.preferences"
            name="Wps Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.noiseplanet.noisemodelling.wps.WpsPreferencesInit">
      </initializer>
   </extension>

</plugin>
